# Базовые библиотеки для работы с данными
pandas>=2.2.2
numpy>=2.2.2

# Визуализация данных
seaborn>=0.13.2
matplotlib>=3.10.0

# Scikit-learn (предобработка, модели, оценка)
scikit-learn>=1.6.1

# Imbalanced-learn (методы балансировки данных)
imbalanced-learn>=0.13.0
